body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #2d2d2d;
  color: #fff;
}

header {
  background-color: #2d2d2d;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#now-playing {
  margin-left: 2.5rem;
}

#search-input {
  padding: 5px;
  margin-top: 10px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
}

#search-button {
  padding: 5px 10px;
  margin-top: 10px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
}

#close-search-btn {
  padding: 5px 10px;
  margin-top: 10px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
}

#close-search-btn:hover,
#search-button:hover {
  cursor: pointer;
}

#movies-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.movie-card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  color: #fff;
  background: linear-gradient(to bottom, rgba(34, 34, 34, 1) 80%, rgba(34, 34, 34, 0));
  transition: transform 0.25s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#load-more-movies-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 5px;
}

#load-more-movies-btn:hover {
  cursor: pointer;
}

@media (max-width: 450px) {
  .movie-card {
    width: 100%;
  }
}